html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Productos
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
    body
        .container
            h1.display-4 Lista de productos
            if existe 
                table.table.table-responsive.table-dark.table-striped
                    thead
                    tr
                        th Nombre
                        th Precio
                        th Imagen
                    tbody
                    each element in lista
                        tr
                            td= element.title
                            td= element.price
                            td
                                img(height='80' src=element.thumbnail alt='#')
            else 
                .alert.alert-info(role='alert') No se encontraron productos